@import url(/styles/header.css);
@import url(/styles/cabecalho.css);
@import url(/styles/metricas.css);

:root {
  --vinho-escuro: #8e2424;
  --preto: #000000;
  --cinza-claro: #667085;
  --branco: #fff;

  --fonte-principal: "Inter";
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}
